### РОССИЙСКИЙ УНИВЕРСИТЕТ ДРУЖБЫ НАРОДОВ

#### Факультет физико-математических и естественных наук  
#### Кафедра математического моделирования и искусственного интеллекта

## ОТЧЕТ ПО ЛАБОРАТОРНОЙ РАБОТЕ № 6

#### Дисциплина: Интеллектуальный анализ данных

##### Студент:  Коняева Марина Александровна
##### Группа:   НФИбд-01-21

## Москва 2024
***

## Вариант № 1

1. Считайте заданный набор данных из репозитария UCI, включая указанный в индивидуальном задании столбец с метками классов.

In [135]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

# считываем данные из репозитария UCI
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/annealing/anneal.data'
my_data = pd.read_csv(url, header=None)

# Назначим правильные заголовки столбцов
my_data = my_data.rename(columns={38: "class"})
my_data

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,class
0,?,C,A,8,0,?,S,?,0,?,...,?,?,COIL,0.700,610.0,0,?,0,?,3
1,?,C,R,0,0,?,S,2,0,?,...,?,?,COIL,3.200,610.0,0,?,0,?,3
2,?,C,R,0,0,?,S,2,0,?,...,?,?,SHEET,0.700,1300.0,762,?,0,?,3
3,?,C,A,0,60,T,?,?,0,?,...,?,?,COIL,2.801,385.1,0,?,0,?,3
4,?,C,A,0,60,T,?,?,0,?,...,?,?,SHEET,0.801,255.0,269,?,0,?,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,?,C,A,0,50,T,?,?,0,?,...,?,?,COIL,1.001,50.0,0,Y,0,?,3
794,?,C,?,0,0,?,S,1,0,?,...,?,?,SHEET,0.699,1300.0,4880,?,0,?,3
795,?,C,A,0,0,?,S,2,0,?,...,?,?,COIL,0.400,609.9,0,?,0,?,3
796,?,C,A,0,0,?,S,2,0,?,...,?,?,SHEET,3.200,610.0,4880,?,0,?,3
797,?,C,R,0,0,?,S,2,0,?,...,?,?,SHEET,1.599,1500.0,4170,?,0,?,2

Класс: classes (столбец No 39)

2. Если среди меток класса имеются пропущенные значения, то удалите записи с пропущенными метками класса. Преобразуйте категориальные признаки в числовые при помощи кодирования меток (label encoding). Если в признаках имеются пропущенные значения, то замените пропущенные значения, используя метод, указанный в индивидуальном задании. Если в признаках пропущенных значений нет, то удалите из набора данных записи, идентифицированные как выбросы при помощи метода кластеризации DBSCAN.

Метод обработки пропущенных значений – среднее значение признака

In [136]:
from sklearn.preprocessing import LabelEncoder

# Преобразование '?' в NaN
my_data = my_data.replace('?', np.nan)

# Проверим пропущенные значения в классе
print(f"Пропущенные значения в классе: {my_data['class'].isnull().sum()}")

# Удалим записи с пропущенными метками класса
my_data = my_data.dropna(subset=['class'])

# Кодируем категориальные признаки
label_encoders = {}
categorical_columns = [0,1,2,5,6,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,35]

for col in categorical_columns:
    le = LabelEncoder()
    my_data[col] = le.fit_transform(my_data[col].astype(str))
    label_encoders[col] = le

Пропущенные значения в классе: 0

In [138]:
for col in my_data.columns[:798]:
    my_data[col] = pd.to_numeric(my_data[col], errors='coerce')
    
# Заменим пропущенные значения средними для каждого столбца
for col in my_data.columns:
    if my_data[col].isnull().sum() > 0:
        my_data[col] = my_data[col].astype(float).fillna(my_data[col].mean())

In [140]:
my_data

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,class
0,2,0,0,8,0,1,1,2.223301,0,1,...,0,0,0,0.700,610.0,0,2,0,2.888889,3.0
1,2,0,3,0,0,1,1,2.000000,0,1,...,0,0,0,3.200,610.0,0,2,0,2.888889,3.0
2,2,0,3,0,0,1,1,2.000000,0,1,...,0,0,1,0.700,1300.0,762,2,0,2.888889,3.0
3,2,0,0,0,60,0,2,2.223301,0,1,...,0,0,0,2.801,385.1,0,2,0,2.888889,3.0
4,2,0,0,0,60,0,2,2.223301,0,1,...,0,0,1,0.801,255.0,269,2,0,2.888889,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,2,0,0,0,50,0,2,2.223301,0,1,...,0,0,0,1.001,50.0,0,1,0,2.888889,3.0
794,2,0,7,0,0,1,1,1.000000,0,1,...,0,0,1,0.699,1300.0,4880,2,0,2.888889,3.0
795,2,0,0,0,0,1,1,2.000000,0,1,...,0,0,0,0.400,609.9,0,2,0,2.888889,3.0
796,2,0,0,0,0,1,1,2.000000,0,1,...,0,0,1,3.200,610.0,4880,2,0,2.888889,3.0
797,2,0,3,0,0,1,1,2.000000,0,1,...,0,0,1,1.599,1500.0,4170,2,0,2.888889,2.0

3. Используя метод снижения размерности данных, указанный в индивидуальном задании, определите и оставьте в наборе данных не более четырех признаков.

Алгоритм снижения размерности данных – отбор на основе важности признаков (ExtraTreesClassifier)

In [141]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Разделяем данные на признаки и метки классов
X = my_data.drop('class', axis=1)
y = my_data['class']

# Преобразуем метки классов в категориальный формат (если необходимо)
if y.dtypes == 'float64' or y.dtypes == 'int64':
    le = LabelEncoder()
    y = le.fit_transform(y)

# Разделяем на тренировочный и тестовый наборы
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=666)

# Используем ExtraTreesClassifier для отбора признаков
model = ExtraTreesClassifier(n_estimators=100, random_state=666)
model.fit(X_train, y_train)

# Оценка важности признаков
importances = model.feature_importances_

# Сортировка признаков по важности
indices = np.argsort(importances)[::-1]

# Отбор четырех наиболее важных признаков
top_4_features = X.columns[indices][:4]

# Создаем новый набор данных с этими признаками
my_data_new = my_data[top_4_features]

# Добавляем столбец с метками класса
my_data_new['class'] = my_data['class']

# Выводим итоговый набор данных
print("Четыре наиболее важных признака:", top_4_features)
my_data_new

Четыре наиболее важных признака: Index([11, 0, 4, 2], dtype='object')

     11  0   4  2  class
0     3  2   0  0    3.0
1     1  2   0  3    3.0
2     1  2   0  3    3.0
3     3  2  60  0    3.0
4     3  2  60  0    3.0
..   .. ..  .. ..    ...
793   3  2  50  0    3.0
794   3  2   0  7    3.0
795   1  2   0  0    3.0
796   3  2   0  0    3.0
797   4  2   0  3    2.0

[798 rows x 5 columns]

4. Нормализуйте оставшиеся признаки набора данных методом, указанным в индивидуальном задании.

Метод нормализации признаков – нормировка по норме L1

In [142]:
from sklearn.preprocessing import Normalizer

# Нормировка данных по L1
scaler = Normalizer(norm='l1')
X_normalized = scaler.fit_transform(my_data_reduced.drop('class', axis=1))

# Создаем DataFrame для нормализованных данных
X_normalized_df = pd.DataFrame(X_normalized, columns=top_4_features)
X_normalized_df['class'] = my_data_reduced['class']
X_normalized_df

NameError: name 'my_data_reduced' is not defined

5. Визуализируйте набор данных в виде точек в трехмерном пространстве, отображая точки разных классов разными цветами. При визуализации набора данных используйте три признака с наиболее высокой оценкой важности. В качестве подписей осей используйте названия признаков. В подписи рисунка укажите название набора данных. Создайте легенду набора данных.

In [ ]:
from mpl_toolkits.mplot3d import Axes3D

# Визуализируем данные
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

# Отображаем точки для каждого класса
for class_label in X_normalized_df['class'].unique():
    subset = X_normalized_df[X_normalized_df['class'] == class_label]
    ax.scatter(subset[top_4_features[0]], subset[top_4_features[1]], subset[top_4_features[2]], label=f'Class {class_label}')

# Настройки графика
ax.set_xlabel(top_4_features[0])
ax.set_ylabel(top_4_features[1])
ax.set_zlabel(top_4_features[2])
plt.title('Annealing Data Set')
plt.legend()
plt.show()

6. Разбейте набор данных на обучающую и тестовую выборки. Создайте и обучите классификатор на основе деревьев решений с глубиной дерева не более 4, определите долю верных ответов на тестовой выборке и визуализируйте границу принятия решений и построенное дерево решений. При визуализации границы принятия решений используйте два признака с наиболее высокой оценкой важности.

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
import seaborn as sns

# Разделение данных на тренировочную и тестовую выборки
X_train, X_test, y_train, y_test = train_test_split(X_normalized_df.drop('class', axis=1), X_normalized_df['class'], test_size=0.3, random_state=42)

# Обучение классификатора на основе дерева решений
dt = DecisionTreeClassifier(max_depth=4)
dt.fit(X_train, y_train)

# Оценка точности
accuracy = dt.score(X_test, y_test)
print(f"Точность дерева решений: {accuracy}")

# Визуализация дерева решений
plt.figure(figsize=(15,10))
tree.plot_tree(dt, feature_names=top_4_features, class_names=[str(i) for i in y.unique()], filled=True)
plt.show()

# Визуализация границ принятия решений
sns.scatterplot(x=X_normalized_df[top_4_features[0]], y=X_normalized_df[top_4_features[1]], hue=X_normalized_df['class'], palette="Set1")

7. Постройте и обучите дополнительные базовые классификаторы, указанные в индивидуальном задании, затем постройте из классификатора дерева решений и дополнительных классификаторов комбинированный классификатор, указанный в индивидуальном задании. Оцените производительность базовых классификаторов и комбинированного классификатора по показателю, указанному в индивидуальном задании.

Дополнительные базовые классификаторы: 

⁃               классификатор логистической регрессии с полиномиальной зависимостью (degree=3) 

⁃               классификатор метода опорных векторов  

Показатель качества модели – доля верных ответов (accuracy)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import StackingClassifier

# Логистическая регрессия с полиномиальными признаками
log_reg = LogisticRegression(max_iter=10000)
log_reg.fit(X_train, y_train)

# Метод опорных векторов
svm_clf = SVC()
svm_clf.fit(X_train, y_train)

# StackingClassifier
stack_clf = StackingClassifier(estimators=[
    ('lr', log_reg),
    ('svc', svm_clf)
], final_estimator=DecisionTreeClassifier(max_depth=4))
stack_clf.fit(X_train, y_train)

Комбинированный классификатор: StackingClassifier

In [ ]:
# Оценка точности комбинированного классификатора
stack_accuracy = stack_clf.score(X_test, y_test)
print(f"Точность StackingClassifier: {stack_accuracy}")

8. Постройте и обучите пару ансамблевых классификаторов, указанных в индивидуальном задании, и сравните их производительность по показателю, указанному в индивидуальном задании.

Ансамблевые классификаторы: AdaBoostClassifier, GradientBoostingClassifier

In [ ]:
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier

# AdaBoost
ada_clf = AdaBoostClassifier(n_estimators=100)
ada_clf.fit(X_train, y_train)

# GradientBoosting
gb_clf = GradientBoostingClassifier(n_estimators=100)
gb_clf.fit(X_train, y_train)

# Оценка точности ансамблевых классификаторов
ada_accuracy = ada_clf.score(X_test, y_test)
gb_accuracy = gb_clf.score(X_test, y_test)

print(f"Точность AdaBoost: {ada_accuracy}")
print(f"Точность GradientBoosting: {gb_accuracy}")

9. Постройте границы принятия решений ансамблевых классификаторов с визуализацией точек набора данных разных классов разными цветами. Подпишите оси и рисунок.

In [ ]:
# Границы решений для AdaBoost
sns.scatterplot(x=X_normalized_df[top_4_features[0]], y=X_normalized_df[top_4_features[1]], hue=X_normalized_df['class'], palette="Set1")